.table {
    display: table;
    width: 400px;
    background-color: lightgreen;
    padding: 5px;
    margin: 15px;
}

.cell1 {
    display: table-cell;
    text-align: left;
    width: 100px;
    padding: 5px;
    margin: 5px;
}

.cell2 {
    display: table-cell;
    padding: 5px;
    margin: 5px;
}